/* .product-cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
} */
.product-name{
    color: #555;
    font-size: 20px;
    font-weight: bold;
}
.price{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.oldPrice{
    text-decoration-line: line-through;
    text-decoration-color: red;
    color: #666 !important;
    font-size: 12px;
}

.product-image{
    /* height: 223px;
    padding: 12px; */
    height: 173px;
}
.newprice{
    font-weight: 600;
    font-size: 13px;
    padding: 10px 0;
    color: var(--primary);
}

h5.card-title {
    font-weight: 600;
    font-size: 13px;
    color: #333;
    /* font-family: Montserrat,sans-serif; */
    /* font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3125;
    letter-spacing: normal;
    text-transform: none;
    white-space: normal; */
}
.card.h-100 {
    border-radius: 6px;
    border: 1px solid rgba(128,128,128,.16);
    box-shadow: 0 1px 4px rgb(128 128 128 / 11%);
}
.addToCartBtn{
    color: white;
    background: var(--primary);
    border: none;
    padding: 2px 9px;
    font-size: 13px;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
}