/* .product-cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
} */
.product-name{
    font-family: Outfit;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    font-weight: 500;
    letter-spacing: .06rem;
    line-height: 46px;
    word-break: break-word;
}
.price{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.oldPrice{
    text-decoration-line: line-through;
    font-size: .8125rem;
    line-height: 1.38;
    color: #949494;
}

.product-image{
    height: 223px;
    padding: 12px;
}
.newprice{
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--primary);
}
h5.card-title {
    /* font-family: Montserrat,sans-serif; */
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3125;
    letter-spacing: normal;
    text-transform: none;
    white-space: normal;
}
.card.h-100 {
    border-radius: 6px;
    border: 1px solid rgba(128,128,128,.16);
    box-shadow: 0 1px 4px rgb(128 128 128 / 11%);
}
.card-btn{
    width: 100%;
}