
.cart-img{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.cart-img img{
    width: 100px;
}
.cart-details{
    width: 80%;
}
.cart-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart-container{
    margin: 0px 107px;
}
.cart-row{
    display: flex;
    margin: 11px 0px;
}
.cart-description{
    font-size: 13px;
    font-weight: 400;
}
@media (max-width:768px) {
    .cart-container {
        margin: 0px 11px;
    }
    }