.productDetails-container{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 68px 68px;
    width: 100%;

}
.left-container{
    width: 30%;
}
.rigt-container{
    width: 70%;
}
.product-title{
    font-size: 25px;
    line-height: 1.2;
    color: #1d1d1d;
    font-weight: 700;
    letter-spacing: -.03em;
}
.productdetails-price{
    color: #000;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    /* justify-content: space-around; */
        margin-top: 5px;
}


.aboutProductHeading{
    font-size: 24px!important;
    font-weight: 400;
    justify-content: start;
    letter-spacing: -.02em;
    line-height: 32px;
    margin-top: 3%;
}
.aboutProductDescription {
    color: #646464;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 auto;
    text-align: justify;
    font-size: 13px;
}
.product-featureCOntainer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    padding-top: 2%;
    text-align: center;
}
.shipping {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 109px; */
    width: 74px;
}
.feature {
    font-size: 13px;
}
.btnContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.quentityBtn{
    flex: .3;
}
.totelPrice{
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 4px;
}